body {
    background-color: #333333;
    background-image: -webkit-radial-gradient(#333333, #262626, #1a1a1a);
    -webkit-background-size: auto;
}

h1 {
    font-family: 'ABeeZee', sans-serif;
    font-size: 48px;
}

#login {
    padding: 100px 0px 100px 0px;
    margin: 60px 450px 20px 450px;
    text-align: center;
    color: #FFFFFF;
}

#username {
    display: inline;
}

#check {
    display: inline;
    float: right;
}

.form {
    padding: 12px 0px 12px 10px;
    margin-top: 8px;
    width: 350px;
}

.logo {
    width: 200px;
}

#loginButton {
    margin-top: 20px;
    width: 300px;
    padding: 10px 0px 10px 0px;
    background-color: rgba(200, 0, 45);
    color: white;
}

#loginButton:hover {
    background-color: rgba(165, 0, 30);
}

#createButton {
    margin-top: 10px;
    width: 300px;
    padding: 10px 0px 10px 0px;
}

#createButton:hover {
    background-color: rgba(225, 225, 225);
}

footer {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}