body {
    background-color: whitesmoke;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h1 {
    font-family: 'ABeeZee', sans-serif;
    font-size: 48px;
    color: darkgray;
    text-align: center;
}

.logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
}

#taglinTxt {
    font-family: 'ABeeZee', sans-serif;
    font-size: 25px;
    color: black;
    text-align: center;
    text-transform:uppercase;
    margin-top: -20px;
}

#loader {
    font-family: 'ABeeZee', sans-serif;
    color: black;
    font-size: 35px;
    text-align: center;

}
footer {
    font-family: 'ABeeZee', sans-serif;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}
