body {
    background-color: whitesmoke !important;
}

h1 {
    font-size: 80px !important;
}

#logo {
    height: 35px;
    
}

.title {
    font-family: 'Lato', sans-serif;
}

.nav-link {
    
}

ol li {
    padding-top: 50px;
}