body {
    background-color: whitesmoke !important;
}

h1 {
    font-size: 80px !important;
}


li {
    font-family: 'Lato', sans-serif;
}

#process {
    font-size: 40px !important;
}

#logo {
    height: 35px;
    
}

.title {
    font-family: 'Lato', sans-serif;
}

ol li {
    font-family: 'Lato', sans-serif;
    padding-top: 50px;
    font-size: 32px;
}

#logout {

}

textarea {
    max-width: 100%;
}

.survey {
    margin-top: 40px;
    text-align: center;
}

#surveyButton {
    background-color: #d21437;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px 20px 10px 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 150px 5px 5px 40px;
    width: 300px;
}

#surveyButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#surveyButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#surveyButton:hover span {
    padding-right: 25px;
}

#surveyButton:hover span:after {
    opacity: 1;
    right: 0;
}

#matchButton {
    background-color: #908D8E;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px 20px 10px 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px 5px 5px 40px;
    width: 300px;
}

#matchButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#matchButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#matchButton:hover span {
    padding-right: 25px;
}

#matchButton:hover span:after {
    opacity: 1;
    right: 0;
}

.content {
    margin: 40px 40px 0px 40px;
    padding: 30px 30px 30px 30px !important;
    background-color: #FFFFFF;
    width: 425px;
}

.welcomeContent {
    margin: 0px 40px 0px 40px !important; 
    padding: 0px 40px 50px 30px !important;
    height: 625px;
    background-color: #FFFFFF;
    background-image: url("../images/wesley.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
}

.takeSurvey {
    margin-top: 40px;
    padding-top: 30px;
}

.welcome {
    padding: 0px 40px 20px 40px !important;
}

#purpose {
    margin-right: 375px;
}

.box {
    margin: 30px 0px 0px 40px;
    width: 425px;
    padding: 20px 80px 20px 30px !important;
    background-color: #FFFFFF;
}

#housing {
    margin-left: 35%;
}

#logout {
    background-color: #d21437;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer;
    width: 100px;
}